backtrader
exa-py
fastapi
httpx
langchain-core
langchain-openai
langchain-experimental
langchain_anthropic
langchain-google-genai
langgraph
pandas
parsel
python-dotenv
pytz
rank-bm25
redis
requests
setuptools
stockstats
tqdm
typing-extensions
uvicorn
yfinance
